// slide-in and slide-out animations for the vue-router transition
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .3s ease;
}

.slide-left-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-left-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-right-enter {
  transform: translateX(-10px);
  opacity: 0;
}

.slide-right-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

//
.fab-transition-enter-active,
.fab-transition-leave-active,{
  transition: all .5s ease;
}

.fab-transition-enter {
  // transform: rotate(45deg) scale(0);
  transform: scale(0);
  opacity: 0;
}

.fab-transition-leave-to {
  // transform: rotate(45deg) scale(0);
  transform: scale(0);
  opacity: 0;
}
