service firebase.storage {
	match /b/{bucket}/o {    
		match /images/events {
			// Anyone can view any image (no auth, publicly readable)
      match /{allImages=**} {
        allow read;
      }

      // Only an individual user can write to "their" images if
      // 1) File is less than 5MB
     	// 2) Content type is an image
     	// 3) Uploaded content type matches existing content type
     	// 4) File name (stored in imageId wildcard variable) is less than 32 characters
      match /{userId}/{imageId} {
        allow write: if request.auth.uid == userId
        						 && request.resource.size < 5 * 1024 * 1024
                     && request.resource.contentType.matches('image/.*')
                     // && request.resource.contentType == resource.contentType
                     && imageId.size() < 32;
      }
   	}
	}
}
